<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>specialitieList</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		// 全选/取消全部
		$("#checkAllChange").click(function() {
			if (this.checked == true) {
				$(".checkboxId").each(function() {
					this.checked = true;
				});
			} else {
				$(".checkboxId").each(function() {
					this.checked = false;
				});
			}
		});
		// 全选
		$("#checkAll").click(function() {
			$(".checkboxId").each(function() {
				this.checked = true;
			});
		});
		// 取消全部
		$("#removeAll").click(function() {
			$(".checkboxId").each(function() {
				this.checked = false;
			});
		});
		function remove(){
			$(".checkboxId").each(function() {
				this.checked = false;
			});
		}
		// 反选
		$("#reverse").click(function() {
			$(".checkboxId").each(function() {
				if (this.checked == true) {
					this.checked = false;
				} else {
					this.checked = true;
				}
			})
		});
		//修改
		$("#edit").click(function() {
			var id ='';
			$(".checkboxId").each(function(i) {
				if (this.checked == true) {
					id += this.value + ',';
				}
			});
			if (0<id.length&&id.length<=4){
                var userArr=new Array();
                var i=0;
                $('input:checkbox:checked').parent().siblings().each(function (index) {
                    userArr[i++]=$(this).text()
                });
				$("#a").val(userArr[0]);
 			    $("#b").val(userArr[1]);
 			    $("#college_name").text(userArr[2]);
 			    $("#c").val(userArr[3]);
			    // 显示模态框
			    $('#editModal').modal('show');	
			    remove();

			}
			else{
				alert("请选择一条内容");
				 remove();				
			}
		});
		// 批量删除
		$("#del").click(function() {
			var ids ='';
			$(".checkboxId").each(function(i) {
				if (this.checked == true) {
					ids += this.value + ',';
				}
			});
			if (ids.length>0){			
			alert("批量删除的内容的编号为:" + ids);
			window.location = "/superAdmin/deleteSpecialities?id=" + ids;

			}
			else{
				alert("未选择内容");			
			}
		});
	});
</script>
</head>
<body>
			<nav class="navbar navbar-default navbar-inverse" role="navigation">				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="id" id="id" placeholder="学生名字"/>
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>

				</div>
			</nav>
<div class="panel-body">
		
					<div class="list-op" id="list_op">
						<button type="button" class="btn btn-info btn-sm" id="edit">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>修改
						</button>	
						<button type="button" class="btn btn-danger btn-sm" id="del">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
						</button>	
					</div>
</div>
<div class="table-responsive">
  <table class="table">
        <thead>
	        <tr class="active">
	           <th><input type="checkbox" id="checkAllChange" /></th>   
	            <th>编号</th>       
	             <th>学生名字</th>
	            <th>目的地</th>
	            <th>离校原因</th>
	            <th>离校时间</th>
	            <th>返校校时间</th>	           
	            <th>宿舍号</th>
	            <th>所在宿舍楼</th>
	            <th>家长名字</th>
	           <th>家长电话</th>
	        </tr>
        </thead>
        <tbody>
	        <tr th:each="lea : ${leaveSchools}">
	            <td><input type="checkbox" class="checkboxId" th:value="${lea.id}"/></td>
	            <td scope="row" th:text="${lea.id}"></td>
	             <td th:text="${lea.student.name}"></td> 
	             <td th:text="${lea.destination}"></td>
	            <td th:text="${lea.cause}"></td>  
	            <td th:text="${lea.leavingTime}"></td>
	            <td th:text="${lea.returnTime}"></td>
	           
	             <td th:text="${lea.student.dorm.name}"></td>
	             <td th:text="${lea.student.dorm.building.name}"></td>
	            <td th:text="${lea.parentsName}"></td>  
	            <td th:text="${lea.parentsPhone}"></td>	               
     
	        </tr>
        </tbody>
    </table> 
 </div>
  <!-- 分页栏 -->
<div align="center">
 <nav aria-label="navigation">
    <ul class="pagination" th:if="${TotalPages} gt '1'">

      <li th:if="${TotalPages} gt '1'">
        <a th:href="@{/superAdmin/showPageLeaveSchool}">首页</a>
      </li>
      <li th:if="${Numbe} gt '1' ">
        <a title="上一页" th:href="@{/superAdmin/showPageLeaveSchool(page=${temp-1},totalPage=${TotalPages})}">
          上一页
        </a>
      </li>
      <li th:each="i:${#numbers.sequence(1,TotalPages)}" th:class="${Numbe eq i}?'active':''">
        <a th:href="@{/superAdmin/showPageLeaveSchool(page=${i-1},totalPage=${TotalPages})}" th:text="${i}"></a>
      </li>
      <li th:if="${Numbe} lt ${TotalPages} ">
        <a title="下一页" th:href="@{/superAdmin/showPageLeaveSchool(page=${temp+1},totalPage=${TotalPages})}">
          下一页
        </a>
      </li>
      <li id="lastPage" th:if="${TotalPages} gt '1'">
        <a th:href="@{/superAdmin/showPageLeaveSchool(page=${TotalPages-1},totalPage=${TotalPages})}">末页</a>
     </li>
    </ul>
  </nav>
 </div> 
 
<!-- 添加框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新添专业信息</h4>
            </div>
            <div class="modal-body">
	             <form class="form-horizontal" th:action="@{/superAdmin/addSpecialities}" method="post">
			        <div class="form-group">
			            <label for="name" class="col-sm-2 control-label">专业名称</label>
			            <div class="col-sm-10">
			                <input type="text" class="form-control" name="name" id="name" 
			                       placeholder="请填写"/>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="College_code" class="col-sm-2 control-label">所属院系</label>
			            <div class="col-sm-10">
				            <select id="selectFrame" class="btn btn-default dropdown-toggle btn-sm">
							</select>

			                <input type="hidden" class="form-control" name="code" id="code" 
			                       placeholder="请填写"/>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-sm-offset-2 col-sm-10">
			                <input type="submit" value="提交" class="btn btn-info"/>
			                &nbsp; &nbsp; &nbsp;
			                <input type="reset" value="重置" class="btn btn-warning"/>
			            </div>
			        </div>
	   			 </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 编辑框（Modal） -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑</h4>
            </div>
            <div class="modal-body">
             <form class="form-horizontal" th:action="@{/superAdmin/addSpecialities}" method="post">
		        <div class="form-group">
		            <div class="col-sm-10">
		                <input type="hidden"  class="form-control"  name="id" id="a" th:value="*{id}" placeholder="请填写" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="name" class="col-sm-2 control-label">专业名称</label>
		            <div class="col-sm-10">
		                <input type="text" class="form-control" name="name" id="b" th:value="*{name}"
		                       placeholder="请填写"/>
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="name" class="col-sm-2 control-label">所属院系</label>
		            <div class="col-sm-10">
		                <input type="hidden" class="form-control" name="code" id="c" th:value="*{code}"
		                       placeholder="请填写"/>
		                  <select id="selectEdit" class="btn btn-default dropdown-toggle btn-sm">
		                  <option id="college_name">更改所属院系</option>
							</select>

		            </div>
		        </div>
		        <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		                <input type="submit" value="提交" class="btn btn-info"/>
		                &nbsp; &nbsp; &nbsp;
		                <input type="reset" value="重置" class="btn btn-warning"/>
		            </div>
		
		        </div>
		    </form>
		    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script>

var selectData;
$.ajax({
    url:'http://localhost:8080/superAdmin/getCollege',
    type:"post",
    async: false,
    contentType:"application/json;charset=UTF-8",
    dataType:"json",
    success:function(data){
        selectData = data;
    },
    error:function(){
        alert("Ajax请求错误...");

    }
});
var initmenu = function(dropdown,menudata) {
    var dropdown = $(dropdown);
    function createNode(data) {
        for(var key in data) {
                html +='<option value="'+data[key]["id"]+'">'+data[key]["name"]+'</option>';
        }
        return html;
    }
    var html = createNode(menudata);
    dropdown.append(html);

}
initmenu("#selectFrame",selectData);
$('#code').val($('#selectFrame').val());
$('#selectFrame').change(function(){
  	$('#code').val($('#selectFrame').val());
  });
  
initmenu("#selectEdit",selectData);
$('#selectEdit').change(function(){
  	$('#c').val($('#selectEdit').val());
  });
  
$('#selectLocation').change(function(){
	window.location = "/superAdmin/showPageSpecialities?size=" + $('#selectLocation').val();
  });

</script>
</html>
